<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Football_League.Properties.Settings.FootBall_LeagueConnectionString"
            connectionString="Data Source=DESKTOP-P6H6MF5;Initial Catalog=FootBall_League;User ID=MrKaveh;Password=Breaking355662Bad"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>